{% extends "base.html" %}

{% block title %}
    WeiDiary
{% endblock %}


{% block main %}
    <div style="margin-top: 50px;margin-bottom: 70px;">
        <h1>Wei Diary</h1>
        <p>时间可以使人淡忘一切，也可以使人明白一切。</p>
    </div>

<div class="marketing">
        <div class="row">
            <div class="span4">
                <h3>过去</h3>
                <p>回首过去</p>
                <p>感叹时间的流逝</p>
                <p>怅然人生的无常</p>
            </div>

            <div class="span4">
                <h3>现在</h3>
                <p>现在只是一个交点</p>
                <p>为过去与未来相遇之处</p>
            </div>

            <div class="span4">
                <h3>将来</h3>
                <p>展望未来<p>
                <p>要充满希望</p>
                <p>这能让自己过得更幸福。</p>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <h4>每天逝去的时间，你还记得多少？使用微日记，记录我们每天的点滴。</h4>
            <div>
        </div>

</div>
{% endblock %}
