{% extends "base.html" %}

{% block title %}隐私策略{% endblock %}

{% block main %}
<legend class="legent_title"> 隐私策略 </legend>
<div>
<p>我们的隐私权政策解释了以下几个方面的问题：</p>
<ul>
  <li>我们收集哪些信息，以及收集这些信息的原因。</li>
  <li>我们对这些信息的使用方式。</li>
  <li>我们为您提供的选择，包括如何访问和更新信息。</li>
</ul>
<p>我们一直力求为用户化繁为简，但是如果您不熟悉 Cookie、IP 地址、像素标签和浏览器等术语，请先了解有关这些关键术语的信息。因此请您花些时间了解一下我们的惯例。如果您有任何问题，请与我们联系。</p>
<p></p>
<h3>我们收集的信息</h3>
<p></p>
<p>我们收集信息是为了向所有用户提供更好的服务，这既包括获取一些基本的信息（例如您使用的语言），也包括更为复杂的信息（例如您觉得哪些广告最实用，或者哪些人在网上对您最重要）</p>
<p></p>
<h3>我们如何使用收集到的信息</h3>
<p></p>
<p>当您与 Wei Diary 联系时，我们会保存您的通信记录，这有助于解决您可能遇到的任何问题。我们会向您的电子邮件地址发送有关我们的服务的邮件，例如告知您即将进行的变更或改进。</p>
<p>我们使用通过 Cookie 和其他技术（例如像素标签）收集到的信息，为您带来更好的用户体验，并提高我们的总体服务品质。例如，通过保存您的语言偏好设置，我们可以用您的首选语言显示我们的服务。向您显示定制的广告时，我们不会将 Cookie 或匿名标识符与敏感类别（例如基于种族、宗教、性取向或健康状况而划分的类别）相关联。</p>
<p>当我们要将信息用于本隐私权政策未载明的其它用途时，则会事先征求您的同意。</p>
<p></p>
<h3>透明度和选择</h3>
<p></p>
<p>您还可以将自己的浏览器设置为拒绝所有 Cookie（包括与我们的服务相关联的 Cookie），或者在我们设置 Cookie 时予以提示。但是请务必注意，如果您停用 Cookie，可能就无法正常使用我们的很多服务了。例如，我们可能无法保存您的语言偏好设置。</p>
<p></p>
<h3>访问和更新您的个人信息</h3>
<p></p>
<p>无论您在何时使用我们的服务，我们都力求让您能够访问自己的个人信息。如果这些信息有误，我们会努力通过各种方式让您快速更新信息或删除信息（除非我们出于合法业务或法律方面的原因而必须保留这些信息）。在更新您的个人信息时，我们可能会要求您先验证自己的身份，然后再处理您的请求。</p>
<p>对于那些无端重复、需要过多技术投入（例如开发一个新系统或从根本上改变现行惯例）、对他人隐私权造成风险或者非常不切实际（例如关于在备份磁带上存放信息的请求）的请求，我们可能予以拒绝。</p>
<p>只要我们能够让您访问和修改信息，而且其不需要过多投入，则我们会免费提供。我们力求对服务进行完善的维护，以保护信息免遭意外或恶意的破坏。因此，当您从我们的服务中删除信息后，我们可能不会立即从在用的服务器中删除这些信息的残留副本，也可能不会从备份系统中删除相应的信息。</p>
<p></p>
<h3>变更</h3>
<p></p>
<p>我们的隐私权政策随时都可能变更。未经您明确同意，我们不会削减您按照本隐私权政策所应享有的权利。我们会在本页面上发布对隐私权政策所做的任何变更。对于重大变更，我们还会提供更为显著的通知（包括对于某些服务，我们会通过电子邮件发送通知，说明隐私权政策的具体变更内容）。我们还会将本隐私权政策的旧版本存档，供您查阅。</p>
</div>

{% endblock %}
