{% extends "base.html" %}

{% block title %}服务条款{% endblock %}

{% block main %}
<legend class="legent_title"> 服务条款 </legend>
<div>
<h3>欢迎使用 Weidiary !</h3>
<p></p>
<p>您使用我们的服务即表示您已同意本条款。请仔细阅读。</p>
<p>我们的服务范围非常广泛，因此有时还会适用一些附加条款或产品要求（包括年龄要求）。附加条款将会与相关服务一同提供，并且在您使用这些服务后，成为您与我们所达成的协议的一部分。</p>
<p></p>
<h3>使用服务</h3>
<p></p>
<p>您必须遵守服务中提供的所有政策。</p>
<p>请勿滥用我们的服务。举例而言，请勿干扰我们的服务或尝试使用除我们提供的界面和指示以外的方法访问这些服务。您仅能在法律（包括适用的出口和再出口管制法律和法规）允许的范围内使用我们的服务。如果您不遵守我们的条款或政策，或者我们在调查可疑的不当行为，我们可以暂停或停止向您提供服务。</p>
<p>在您使用服务的过程中，我们可能会向您发送服务公告、管理消息和其他信息。您可以选择不接收上述某些信息。</p>
<p></p>
<h3>修改和终止服务</h3>
<p></p>
<p>我们始终在不断更改和改进我们的服务。我们可能会增加或删除功能，也可能暂停或彻底停止某项服务。</p>
<p>您可以随时停止使用我们的服务，尽管我们对此表示非常遗憾。Wei Diary 也可能随时停止向您提供服务，或随时对我们的服务增加或设置新的限制。</p>
<p>我们认为您拥有自己数据的所有权并保留对此类数据的访问权限，这一点非常重要。如果我们停止某项服务，在合理可能的情况下，我们会向用户发出合理的提前通知，并让用户有机会将信息从服务中汇出。</p>
<p></p>
<h3>保证和免责声明</h3>
<p></p>
<p>我们在提供服务时将会尽到商业上合理水平的技能和注意义务，希望您会喜欢使用它们。但有些关于服务的事项恕我们无法作出承诺。</p>
<p>除本条款或附加条款中明确规定的内容外，Wei Diary 及其供应商和分销商对服务均不作任何具体承诺。例如，我们对服务中的内容、服务的具体功能，或其可靠性、可用性或满足您需要的能力不作任何承诺。服务是“按原样”提供的。</p>
<p>某些司法管辖区域会规定特定保证，例如适销性、特定目的适用性及不侵权的默示保证。在法律允许的范围内，我们排除所有保证。</p>
</div>

{% endblock %}
